body {
	background: black;
	overflow: hidden;
	font-family: sans-serif;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0deg); }
	to { -webkit-transform: rotateY(90deg); }
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 768px;
	overflow: hidden;
	
	background: white;
	
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 1024px;
		height: 768px;
		
		text-align: center;
	}
	
	.message {
		position: absolute;
		text-align: center;
		left: 0;
		bottom: 10px;
		width: 1024px;
		font-size: 24pt;
		
		.badge {
			font-size: 18pt;
		}
		
		.badge.red {
			background-color: red;
		}
		
		.badge.blue {
			background-color: blue;
		}
	}
	
	.empty {
		.logo {
			margin-top: 100px;
			-webkit-animation-duration: 4s;
			-webkit-animation-name: spin;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction: alternate;
		}
	}
	
	.fight {
		.timer, .exchangeCount, .exchangeLimit {
			position: absolute;
			font-size: 30pt;
			font-weight: bold;
		}
	
		.exchangeCount {
			top: 33px;
			text-align: right;
			right: 569px;
		}
	
		.exchangeLimit {
			top: 33px;
			text-align: left;
			left: 520px;
		}
		
		.tournament {
			position: absolute;
			top: 5px;
			left: 10px;
			font-size: 22pt;
			font-weight: bold;
		}
		
		.round {
			position: absolute;
			top: 60px;
			left: 20px;
			font-size: 20pt;
		}
		
		.pool {
			position: absolute;
			top: 100px;
			left: 20px;
			font-size: 20pt;
		}
	
		.timer {
			text-align: center;
			top: 117px;
			width: 400px;
			right: 315px;
		}
		
		.picture {
			position: absolute;
			top: 224px;
		}
		
		.picture.red {
			left: 68px;
		}
		
		.picture.blue {
			right: 77px;
		}
	
		.fighter-bar {
			position: absolute;
			left: 0;
			top: 600px;
			font-size: 25pt;
			color: white;
			
			.fighter {
				position: absolute;
				top: 19px;
				width: 512px;
				font-weight: bold;
				
				.name {
					position: absolute;
					top: 10px;
				}
			}
			
			.red {
				left: 0;
				text-align: left;
				
				.name {
					left: 40px;
				}
			}
			
			.blue {
				right: 0;
				text-align: right;
				
				.name {
					right: 40px;
				}
			}
		}
		
		.score-red, .score-blue {
			position: absolute;
			width: 117px;
			height: 70px;
			top: 226px;
			font-size: 50pt;
			font-weight: bold;
		}
		
		.score-red {
			left: 38px;
		}
		
		.score-blue {
			left: 866px;
		}
		
		.score-double {
			position: absolute;
			width: 96px;
			height: 46px;
			left: 462px;
			top: 268px;
			font-size: 30pt;
			padding-top: 2px;
		}
	}
	
	.overview-arena {
		.time {
			font-size: 90%;
		}
	
		.fighter.red .badge {
			background-color: red;
		}
		
		.fighter.blue .badge {
			background-color: blue;
		}
	
		.current-pool {
			color: black;
			font-size: 24pt;
			border: solid 1px black;
			
			.fighter {
				.badge {
					font-size: 16pt;
				}
			}
		}
		
		.pool {
			color: black;
			font-size: 22pt;
			border: solid 1px black;
			.fighter {
				.badge {
					font-size: 14pt;
				}
			}
		}
	}
}