@import "livestream.less";
@width: 1280px;
@height: 720px;

.participant-bio.left {
	background-image: url(/assets/images/participant/bio/1280x720/left.png?thresholding=yes);
	
	.tournament, .round {
		left: 240px;
	}

	.name, .club {
		right: 1004px;
	}
	
	.detail {
		left: 80px;
	}
}
.participant-bio.right {
	background-image: url(/assets/images/participant/bio/1280x720/right.png?thresholding=yes);

	.tournament, .round {
		left: 900px;
	}

	.name, .club {
		left: 777px;
	}
	
	.detail {
		right: 296px;
	}
}
