@import "livestream.less";
@width: 1280px;
@height: 720px;

.participant-bio.left {
	background-image: url(/assets/images/participant/bio/1280x720/left.png);
	
	.tournament, .round {
		left: 70px;
	}

	.name, .club {
		left: 70px;
	}
	
	.detail {
		left: 80px;
	}
}
.participant-bio.right {
	background-image: url(/assets/images/participant/bio/1280x720/right.png);

	.tournament, .round {
		left: 900px;
	}

	.name, .club {
		left: 750px;
	}
	
	.detail {
		left: 768px;
	}
}