.cache
.classpath
.project
project
target
.target
bin
.settings
.worksheet
*.h2.db
*.lock.db
/services
*.so
*.dll
export.json
*.sc
*.log
htm-admin/Avatars
htm-admin/Images
htm-admin/Thumbs
Avatars.zip
play/Avatars
test*.txt
