<div class="fight">
<img class="background" src="/assets/images/fight/HTM_EMAG_gamescreen_background.jpg"/>
<img class="picture red" ng-src="/photo/{{fighterA.participant.externalId || 'placeholder'}}/l"/>
<img class="picture blue" ng-src="/photo/{{fighterB.participant.externalId || 'placeholder'}}/r"/>
<img class="background" src="/assets/images/fight/HTM_HEFFAC_gamescreen_overlay.png"/>
<div class="frame" ng-cloak>
	<div class="score-red">{{ totalScore.a }}</div>
	<div class="score-blue">{{ totalScore.b }}</div>
	<div class="score-double" ng-show="doubleHitLimit &gt; 0 && totalScore.d &lt;= doubleHitLimit">
		<div data-ng-repeat="a in range(totalScore.d) track by $index" data-ng-animate="{enter: 'animated tada', leave: 'animated fadeOutDownBig'}">X</div>
	</div>
	<div class="score-double" ng-show="doubleHitLimit == 0 || totalScore.d &gt; doubleHitLimit" data-ng-animate="{show: 'animated tada', hide: 'animated fadeOutDownBig'}">
		{{ totalScore.d }}
	</div>
	<div class="fighter-bar">
		<div class="fighter red">
			<img ng-show="fighterA.participant.country" ng-src="/assets/images/fight/flags/{{fighterA.participant.country}}red.png"/>
			<div class="name">{{fighterA.participant.shortName}}</div>
			<div class="club">{{fighterA.participant.club}}</div>
		</div>
		<div class="fighter blue">
			<img ng-show="fighterB.participant.country" ng-src="/assets/images/fight/flags/{{fighterB.participant.country}}blue.png"/>
			<div class="name">{{fighterB.participant.shortName}}</div>
			<div class="club">{{fighterB.participant.club}}</div>
		</div>
	</div>
	<div class="message" ng-show="message"><div ng-bind-html="messageHtmlSafe"></div></div>
	<div class="labels">
		<div class="exchanges">Exchanges</div>
		<div class="points red">Points</div>
		<div class="points blue">Points</div>
		<div class="doubles">Doubles</div>
	</div>
	<div class="exchangeCount">
		{{ totalScore.x }} <span ng-show="poolSummary.round.exchangeLimit &gt; 0">of {{ exchangeLimit }}</span>
	</div>
	<div class="timer">
		{{ timer.displayTime | minutes }}
	</div>
	<div class="tournament">
		{{ tournament.name }}
	</div>
	<div class="round">
		{{ name }}
	</div>
</div>
</div>