<div class="fight">
<img class="background" src="/assets/images/fight/background.png"/>
<img class="background" src="/assets/images/fight/backdrops.png"/>
<img class="picture red" ng-src="/photo/{{fighterA.externalId || 'placeholder'}}/l"/>
<img class="picture blue" ng-src="/photo/{{fighterB.externalId || 'placeholder'}}/r"/>
<img class="background" src="/assets/images/fight/header_footer.png"/>
<img class="background" src="/assets/images/fight/points.png"/>
<div class="background" ng-cloak>
	<div class="score-red">{{ totalScore.a }}</div>
	<div class="score-blue">{{ totalScore.b }}</div>
	<div class="score-double" ng-show="totalScore.d &lt;= 3">
		<span ng-repeat="a in range(totalScore.d) track by $index">X</span>
	</div>
	<div class="score-double" ng-show="totalScore.d &gt; 3">
		{{ totalScore.d }}
	</div>
	<div class="fighter-bar">
		<img src="/assets/images/fight/fighter_bar.png"/>

		<div class="fighter red">
			<img ng-src="/assets/images/fight/flags/{{fighterA.country}}red.png"/>
			<span class="name">{{fighterA.name}}</span>
		</div>
		<div class="fighter blue">
			<img ng-src="/assets/images/fight/flags/{{fighterB.country}}blue.png"/>
			<span class="name">{{fighterB.name}}</span>
		</div>
	</div>
	<div class="message">
		{{ message }}
	</div>
	<div class="exchangeCount">
		{{ totalScore.x }}
	</div>
	<div class="exchangeLimit">
		{{ poolSummary.round.exchangeLimit }}
	</div>
	<div class="timer">
		{{ timer.displayTime | minutes }}
	</div>
	<div class="tournament">
		{{ poolSummary.round.tournament.name }}
	</div>
	<div class="round">
		{{ poolSummary.round.name }}
	</div>
	<div class="pool">
		Pool {{ poolSummary.order }}
	</div>
</div>
</div>