<div class="fight">
<img class="background" src="/assets/images/fight/HTM_HEFFAC_gamescreen_background.jpg"/>
<img class="picture red" ng-src="/photo/{{fighterA.externalId || 'placeholder'}}/l"/>
<img class="picture blue" ng-src="/photo/{{fighterB.externalId || 'placeholder'}}/r"/>
<img class="background" src="/assets/images/fight/HTM_HEFFAC_gamescreen_overlay.png"/>
<div class="background" ng-cloak>
	<div class="score-red">{{ totalScore.a }}</div>
	<div class="score-blue">{{ totalScore.b }}</div>
	<div class="score-double" ng-show="totalScore.d &lt;= 3">
		<span ng-repeat="a in range(totalScore.d) track by $index">X</span>
	</div>
	<div class="score-double" ng-show="totalScore.d &gt; 3">
		{{ totalScore.d }}
	</div>
	<div class="fighter-bar">
		<div class="fighter red">
			<img ng-src="/assets/images/fight/flags/{{fighterA.country}}red.png"/>
			<span class="name">{{fighterA.name}}</span>
		</div>
		<div class="fighter blue">
			<img ng-src="/assets/images/fight/flags/{{fighterB.country}}blue.png"/>
			<span class="name">{{fighterB.name}}</span>
		</div>
	</div>
	<div class="message" ng-bind-html-unsafe="message"></div>
	<div class="exchangeCount" ng-show="poolSummary.round.exchangeLimit &gt; 0">
		{{ totalScore.x }} of {{ poolSummary.round.exchangeLimit }}
	</div>
	<div class="timer">
		{{ timer.displayTime | minutes }}
	</div>
	<div class="tournament">
		{{ poolSummary.round.tournament.name }}
	</div>
	<div class="round">
		{{ poolSummary.round.name }}
	</div>
	<div class="pool">
		Pool {{ poolSummary.order }}
	</div>
</div>
</div>