<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Participants</title>
<style>
</style>
</head>
<body class="lift:content_id=main">
	<div id="main" class="lift:surround?with=default;at=content" ng-app="htm">
		<head>
			<style>
			/* <![CDATA[ */
			#countrySelect {
				display: none;
				position: absolute;
				padding: 0;
				margin: 0;
			}
			.flag {
				cursor: pointer;
			}
			.flag img {
				border: solid 2px red;
			}
			.flag img.viewerFlagAvailable {
				border-color: green;
			}
			tr.participant {
				cursor: pointer;
			}
			/* ]]> */
			</style>
		</head>
		<div class="lift:ParticipantList" ng-controller="ParticipantsCtrl">
		<h2>
			Participants
			<small class="totals">
				<span class="people">0</span> people from
				<span class="clubs">0</span> clubs in
				<span class="countries">0</span> countries
			</small>
			<div class="btn-group pull-right" title="Actions">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Actions <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="actionButton"><a href="#">Action</a></li>
				</ul>
			</div>
			<div class="btn-group pull-right" title="Download">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="downloadButton"><a href="#">Action</a></li>
				</ul>
			</div>
		</h2>
		<div id="countrySelect"><select><option>Netherlands</option></select></div>
		<div class="input-group" style="margin: 10px;">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input ng-model="search" type="text" class="form-control" placeholder="Search">
        </div>
        
		<table class="table table-condensed table-hover">
			<tbody>
				<tr class="participant fade-animation" ng-repeat="participant in participants | filter:searchFilter">
					<td title="Photo?"><span class="photo glyphicon"></span></td>
					<td class="id" title="ID">{{participant.externalId}}</td>
					<td class="flag"><img ng-src="/images/flags/{{participant.country | lowercase}}.png"/></td>
					<td class="name" title="Name">{{participant.name}}</td>
					<td class="shortName" title="Short Name">{{participant.shortName}}</td>
					<td class="club" title="Club">{{participant.club}}</td>
					<td class="clubCode" title="Club Code">{{participant.clubCode}}</td>
					<td class="tournaments" title="Tournaments">
						<span class="tournament">MNEMONIC</span>
					</td>
					<td><a class="action"></a></td>
					<td><a class="delete"></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="totals">
					<td colspan="6" class="text-center">
						
					</td>
					<td>
						<form action="/participants/lists" method="post" class="actions">
							
						</form>
					</td>
				</tr>
			</tfoot>
		</table>
		</div>
	</div>
	

</body>
</html>

