<div data-ng-repeat="arena in arenas" class="panel panel-default pull-left">
	<div class="panel-heading">
		<h2 class="panel-title">{{arena.name}}</h2>
	</div>
	<div class="panel-body">
		<button class="btn btn-default btn-lg" title="Click to subscribe" data-ng-click="subscribe(arena)">
			Fight!
		</button>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Tournament</th>
				<th>Fight</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="fight in arena.fetchedFights | orderBy:'time'" data-ng-class="{true: 'success', false: 'waiting'}[fight.fight.finished]" data-ng-animate="{enter: 'animated fadeIn', leave: 'animated fadeOut'}">
				<td>{{fight.time | hours}}</td>
				<td>{{fight.fight.name}}</td>
				<td>{{fight.fight.name}}</td>
			</tr>
		</tbody>
	</table>
</div>