<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Fights</h3>
			</div>
			<table class="table table-condensed table-hover">
				<tbody>
					<tr>
						<td colspan="7" class="text-center" data-ng-switch data-on="fightsBefore()">
							<span data-ng-switch-when="true">
								{{fights | orderBy:'order' | filter:beforeRangeFunction | size}} more
							</span>
							<span data-ng-switch-default>
								&mdash; start of pool &mdash;
							</span>
						</td>
					</tr>
					<tr data-ng-repeat="fight in fights | orderBy:'globalOrder' | filter:inRangeFunction" data-ng-class="{true: 'htm-current-fight', false: ''}[fight.id==currentFight.id]" data-ng-mouseenter="fight.hover = true" data-ng-mouseleave="fight.hover = false" data-ng-animate="{enter: 'animated fadeIn'}">
						<td ng-show="fight.loading">Loading...</td>
						<td ng-show="!fight.loading">{{fight.plannedTime | hours}}</td>
						<td>{{fight.id}}</td>
						<td class="text-left">{{fight.fighterA.name}} <span data-ng-show="fight.fighterA.clubCode">({{fight.fighterA.clubCode}})</span></td>
						<td class="text-center"><span data-ng-show="fight.timeStop &gt; 0">{{fight.totalScore().a}}</span></td>
						<td class="text-center">
							<span data-ng-show="fight.timeStop == 0">vs</span>
							<span data-ng-show="fight.timeStop &gt; 0">({{fight.totalScore().d}})</span>
						</td>
						<td class="text-center"><span data-ng-show="fight.timeStop &gt; 0">{{fight.totalScore().b}}</span></td>
						<td class="text-right">{{fight.fighterB.name}} <span data-ng-show="fight.fighterB.clubCode">({{fight.fighterB.clubCode}})</span></td>
					</tr>
					<tr>
						<td colspan="7" class="text-center" data-ng-switch data-on="fightsAfter()">
							<span data-ng-switch-when="true">
								{{fights | orderBy:'order' | filter:afterRangeFunction | size}} more
							</span>
							<span data-ng-switch-default>
								&mdash; end of pool &mdash;
							</span>
						</td>
					</tr>
				</tbody>
			</table>  	
     	</div>
     	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Current fight
					<div class="dropdown pull-right" data-ng-show="currentFight.started">
						<a id="fight-menu" class="dropdown-toggle" href="#" data-toggle="dropdown" title="Fight menu">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="fight-menu">
							<li><a href="" data-ng-click="correctScore()">Score correction...</a></li>
							 <li class="divider"></li>
							<li><a href="" data-ng-click="cancelFight()">Cancel fight</a></li>
							<li><a href="" data-ng-click="confirmFight()">Confirm fight</a></li>
						</ul>
					</div>
				</h3>
			</div>
			<div class="panel-body" data-ng-hide="currentFight.started">
				<button class="btn btn-primary" data-ng-click="startFight()" data-ng-disabled="findNextFight().order &lt; 0">
					Start fight
				</button>
			</div>
			<div class="panel-body htm-current-fight-box" data-ng-show="currentFight.started">
				<div class="row htm-fight-buttons">
					<div class="col-sm-4 col-md-4 htm-clickable" data-ng-click="toggleTimer()">
						Time: <big><strong>{{timer.displayTime | minutes}}</strong> of {{round.timeLimitOfFight | minutes}} <span data-ng-class="{true: 'glyphicon glyphicon-pause', false: 'glyphicon glyphicon-play'}[timer.running]"></span></big>
					</div>
					<div class="col-sm-4 col-md-4 htm-clickable">
						<big data-ng-click="showExchanges()">Exchange: {{currentFight.totalScore().x}} <span data-ng-show="round.exchangeLimit &gt; 0">of {{round.exchangeLimit}}</span></big>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-sm btn-default" data-ng-click="undoClicked()" data-ng-disabled="currentFight.scores.length == 0">Undo</button>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-sm btn-default" data-ng-click="redoClicked()" data-ng-disabled="!redoScore">Redo</button>
					</div>
				</div>
				<div class="row htm-padding-top">
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title">{{currentFight.fighterA.name}}</h2>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="row scores htm-clickable" data-ng-click="showExchanges()">
							<div class="col-sm-4 col-md-4 text-center">{{currentFight.totalScore().a}}</div>
							<div class="col-sm-4 col-md-4 text-center">({{currentFight.totalScore().d}})</div>
							<div class="col-sm-4 col-md-4 text-center">{{currentFight.totalScore().b}}</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title pull-right">{{currentFight.fighterB.name}}</h2>
					</div>
				</div>
				<div class="htm-padding-top">
					<div data-ng-show="exchangeLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-list"></span>
						<strong>Limit reached!</strong> The <em>exchange limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
					<div data-ng-show="timeLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-time"></span>
						<strong>Limit reached!</strong> The <em>time limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
					<div data-ng-show="doubleHitLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-transfer"></span>
						<strong>Limit reached!</strong> The <em>double hit limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button id="clean-red-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('clean', 'red')">Clean hit...</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg" data-ng-click="doubleHitClicked()">Double hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button id="clean-blue-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('clean', 'blue')">Clean hit...</button>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button id="afterblow-red-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('afterblow', 'red')">Afterblow...</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg" data-ng-click="noHitClicked()">No hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button id="afterblow-blue-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('afterblow', 'blue')">Afterblow...</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default" style="display: none;">
			<div class="panel-heading">
				<h3 class="panel-title">Messages</h3>
			</div>
			<div class="panel-body">
				lijstje
			</div>  
			<div class="panel-footer"><input type="text"/></div>  	
     	</div>
   		<div class="panel panel-default">
   			<div class="panel-heading">
				<h3 class="panel-title">Announcement</h3>
			</div>
   			<div class="panel-body">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="announcement" placeholder="Announcement" ng-model="announcementBuffer"/>
						<span class="input-group-btn btn-group">
							<button class="btn btn-default" type="button" ng-click="announce()">Show</button>
							 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="" ng-click="defaultAnnouncement('nextup')">Next up</a></li>
							</ul>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label>Last update</label>
					<div class="well well-sm" ng-bind-html-unsafe="announcement || '-- nothing --'"></div>
				</div>
   			</div>
   		</div>
   		<div class="panel panel-default" style="display: none;">
   			<div class="panel-heading">
   				<h3 class="panel-title">Support</h3>
  			</div>
			<div class="panel-body">
				<p class="btn-group">
					<button type="button" class="btn btn-default">Call Tech Support</button>
					<button type="button" class="btn btn-default">Call Organisation</button>
				</p>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Request <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Replacement weapon</a></li>
						<li><a href="#">Medical assistance</a></li>
						<li><a href="#">Referee</a></li>
						<li><a href="#">Judge</a></li>
						<li><a href="#">Staff</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="score-options" class="btn-group">
	<button type="button" ng-repeat="score in round.possiblePoints" ng-click="scoreSelected(score)" data-ng-class="{red: 'btn btn-danger btn-lg', blue: 'btn btn-primary btn-lg'}[scoreSide]">{{score}}</button>
	<button type="button" ng-click="cancelScoreSelect()" class="btn btn-default btn-lg" title="Cancel">
		<span class="glyphicon glyphicon-remove-circle"></span>
	</button>
</div>
