<div class="modal-dialog">
	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Correction</h4>
		</div>
		<div class="modal-body">
  			<div class="form-group">
    			<label>Score Red</label>
    			<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="dec('a')">-</button>
					</span>
					<span class="form-control text-center">{{score.a + correction.a}}</span>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="inc('a')">+</button>
					</span>
				</div>
  			</div>
  			<div class="form-group">
    			<label>Double Hits</label>
    			<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="dec('d')">-</button>
					</span>
					<span class="form-control text-center">{{score.d + correction.d}}</span>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="inc('d')">+</button>
					</span>
				</div>
  			</div>
  			<div class="form-group">
    			<label>Score Blue</label>
    			<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="dec('b')">-</button>
					</span>
					<span class="form-control text-center">{{score.b + correction.b}}</span>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="inc('b')">+</button>
					</span>
				</div>
  			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-warning" ng-click="confirm()">Confirm</button>
		</div>
	</div>
</div>