<a 	href="#/tournaments/{{tournament.identifier}}#participant{{person.id}}" 
	ng-show="subscription"
	title="Fighter number {{subscription.fighterNumber}} in {{tournament.name}}">
	<span class="label" ng-class="subscription.gearChecked && !subscription.droppedOut ? 'label-success' : 'label-danger'">
		{{subscription.fighterNumber}}
		<span class="glyphicon glyphicon-cog" ng-hide="subscription.gearChecked"></span>
		<span class="glyphicon glyphicon-exclamation-sign" ng-show="subscription.droppedOut"></span>
	</span>
</a>