<div class="container-fluid" ng-controller="ParticipantListCtrl">

	<!--Title, add and download button -->
	<div class="row">
		<div class="col-md-12">
			<h2>
				Participants
				<small class="totals  hidden-xs">
			        <ng-pluralize count="totals.participants" when="{'one': '1 person', 'other': '{} people'}"></ng-pluralize>
			        from
			        <ng-pluralize count="totals.clubs" when="{'one': '1 club', 'other': '{} clubs'}"></ng-pluralize>
			        in
			        <ng-pluralize count="totals.countries" when="{'one': '1 country', 'other': '{} countries'}"></ng-pluralize>
				</small>

				<div class="pull-right">
				  	<div class="btn-group ">
						<button role="button" ng-click="add()" role="button" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span>Add</span>
						</button>

					    <button  role="button" class="btn btn-default dropdown-toggle"
					            data-toggle="dropdown">
				            <span class="glyphicon glyphicon-download"></span> 
				            Download
				            <span class="caret"></span>
					    </button>
	
					    <ul class="dropdown-menu">
							<!--TODO: Implement links-->
							<li><a href="/download/participants">Participant</a></li>
							<li><a href="/download/clubs">Clubs</a></li>
							<li><a href="/download/details">Finalist Details</a></li>
					    </ul>
					</div>
				</div>
			</h2>
		</div>
	</div>
	<!--Search bar -->
	<div class="row">
		<div class="col-md-12">
			<form class="form" name="form" novalidate>
				<div class="form-group" >
					<div class="input-group">
						<span class="input-group-btn">
							<button role="button" class="btn btn-info" ng-click="refresh()">
								<span class="glyphicon glyphicon-search" title="Search participants"></span>
							</button>
						</span>
						<!--TODO: Focus on-->
				      	<input ng-model="search" type="text" class="form-control" placeholder="Search"/>
						<span class="input-group-btn">
							<button role="button" class="btn btn-success" ng-click="registerSelected()">
								<span class="glyphicon glyphicon-ok" title="Register all selected participants"></span>
							</button>

							<button role="button" class="btn btn-danger" ng-click="unregisterSelected()">
								<span class="glyphicon glyphicon-remove" title="Unregister all selected participants"></span>
							</button>
						</span>
				    </div>
			    </div>
		    </form>
		</div>    
    </div>
    <!--Results table-->
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-condensed table-hover table-responsive">
				<thead>
					<tr>
						<!--TODO: Sort buttons-->
						<th>Checks</th>
						<th htm-sort="externalId">ID</th>
						<th>Country</th>
						<th htm-sort="name">Name</th>
						<th htm-sort="shortName">Short name</th>
						<th htm-sort="club">Club</th>
						<th htm-sort="clubCode">Club code</th>
						<th ng-repeat="tournament in tournaments" title="{{tournament.name}}">
							<htm-tournament-memo tournament="tournament"></htm-tournament-memo>
						</th>
						<th><!--Edit--></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="participant in participants">
						<td>
						    <span class="label" ng-class="participant.isPresent ? 'label-success' : 'label-danger'" title="{{participant.isPresent ? 'Checked in' : 'Not checked in yet'}}">
						    	<span class="glyphicon glyphicon-check"></span>
						    </span>
						    <span class="label" ng-class="participant.hasPicture ? 'label-success' : 'label-warning'" title="{{hasPicture(participant) ? 'Picture is available' : 'No picture available yet'}}">
						    	<span class="glyphicon glyphicon-picture"></span>
						    </span>
						    <span class="label" ng-class="hasDetails(participant) ? 'label-success' : 'label-default'" title="{{hasDetails(participant) ? 'Details are filled in' : 'No details filled in yet'}}">
						    	<span class="glyphicon glyphicon-list"></span>
					    	</span>
						</td>
						<td class="id" title="ID">{{participant.externalId}}</td>
						<td class="flag" >
							<htm-flag country="participant.country"></htm-flag></td>
						<td class="name" title="Name">{{participant.name}}</td>
						<td class="shortName" title="Short Name">{{participant.shortName}}</td>
						<td class="club" title="Club">{{participant.club}}</td>
						<td class="clubCode" title="Club Code">{{participant.clubCode}}</td>
						<td class="tournaments" ng-repeat="tournament in tournaments">
							<htm-subscription-label person="participant" tournament="tournament"/>
						</td>
			          	<td><button role="button" class="btn btn-default btn-sm" ng-click="show(participant)">Edit</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<div>