	<div class="col-md-12">
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to HTM</h1>
				<p>To get started, it is recommended to read the <a href="http://jira.htm-project.org:9002/display/DOC/Documentation">documentation</a>.</p>
				<p>HTM provides easy-to-use HEMA tournament management tools for</p>

				<ul class="list-unstyled">
		<li>
			<a href="#event">
			<span class="glyphicon glyphicon-arrow-right"> </span>
			 Event planning
			</a>
		</li>
		<li>
			<a href="#schedule">
			<span class="glyphicon glyphicon-arrow-right"> </span>
			 Fight scheduling
			</a>
		</li>
		<li> 
			<a href="#participant">
			<span class="glyphicon glyphicon-arrow-right"> </span>
			 Participant management
			</a>
		</li>
		<li>
			<a href="#battle">
			<span class="glyphicon glyphicon-arrow-right"> </span>
			 Fight recording (battlestation)
			</a>
		</li>
		<li>
			<a href="http://hematournament.com/">
			<span class="glyphicon glyphicon-arrow-right"> </span>
			 And many more...
			</a>
		</li>
				</ul>
			</div>
		</div>
	</div>
