@(appName: String)
<!DOCTYPE html>
<html data-ng-app="htm">
  <head>
    <title>@appName</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cerulean.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate-custom.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
	<body data-ng-controller="BattleCtrl">
    @*-- Header -- *@
    <header class="container">
      <div class="page-header" data-ng-cloak>
        <h1>{{arena.name}} &mdash; {{poolSummary.round.tournament.name}} <small class="pull-right"></small></h1>
      </div>
    </header>
    @* -- Main Content -- *@
    <div class="container" data-ng-cloak>
      <div class="row">
      <div class="col-md-8">
      	<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">{{round.name}}, Pool {{pool.order}}</h3></div>
			<table class="table table-condensed table-hover" data-ng-click="incCurrentFight()">
				<tbody>
					<tr>
						<td colspan="8" class="text-center" data-ng-switch data-on="fightsBefore()">
							<span data-ng-switch-when="true">
								{{fights | orderBy:'order' | filter:beforeRangeFunction | size}} more
							</span>
							<span data-ng-switch-default>
								&mdash; start of pool &mdash;
							</span>
						</td>
					</tr>
					<tr data-ng-repeat="fight in fights | orderBy:'order' | filter:inRangeFunction" data-ng-class="{true: 'htm-current-fight', false: ''}[fight.id==currentFight.id]" data-ng-mouseenter="fight.hover = true" data-ng-mouseleave="fight.hover = false">
						<td>{{fight.plannedTime}}</td>
						<td>{{fight.id}}</td>
						<td class="text-left">{{fight.fighterA.name}} <span data-ng-show="fight.fighterA.clubCode">({{fight.fighterA.clubCode}})</span></td>
						<td class="text-center"></td>
						<td class="text-center">vs</td>
						<td class="text-center"></td>
						<td class="text-right">{{fight.fighterB.name}} <span data-ng-show="fight.fighterB.clubCode">({{fight.fighterB.clubCode}})</span></td>
						<td width="10%">
							<div data-ng-show="fight.hover" data-ng-animate="{show: 'animated fadeIn', hide: 'animated fadeOut'}">
								<span data-ng-show="fight.index &gt;= currentFight" title="Move down" class="glyphicon glyphicon-arrow-down"></button>
								<span data-ng-show="fight.index &gt; currentFight" title="Move up" class="glyphicon glyphicon-arrow-up"></button>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="8" class="text-center" data-ng-switch data-on="fightsAfter()">
							<span data-ng-switch-when="true">
								{{fights | orderBy:'order' | filter:afterRangeFunction | size}} more
							</span>
							<span data-ng-switch-default>
								&mdash; end of pool &mdash;
							</span>
						</td>
					</tr>
				</tbody>
			</table>  	
      	</div>
      	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Current fight
					<div class="dropdown pull-right" data-ng-show="currentFight.order &gt; -1">
						<a id="fight-menu" class="dropdown-toggle" href="#" data-toggle="dropdown" title="Fight menu">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="fight-menu">
							<li><a data-ng-click="cancelFight()">Cancel fight</a></li>
							<li><a data-ng-click="confirmFight()">Confirm fight</a></li>
						</ul>
					</div>
				</h3>
			</div>
			<div class="panel-body" data-ng-hide="currentFight.order &gt; -1">
				<button class="btn btn-primary" data-ng-click="startFight()">Start fight</button>
			</div>
			<div class="panel-body htm-current-fight-box" data-ng-show="currentFight.order &gt; -1">
				<div class="row htm-fight-buttons">
					<div class="col-sm-4 col-md-4 htm-timer" data-ng-click="toggleTimer()">
						Time: <big><strong>{{timer.displayTime | minutes}}</strong> of {{round.timeLimitOfFight | minutes}} <span data-ng-class="{true: 'glyphicon glyphicon-pause', false: 'glyphicon glyphicon-play'}[timer.running]"></span></big>
					</div>
					<div class="col-sm-4 col-md-4">
						<big>Exchange: {{currentFight.exchanges | size}} of 10</big>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-default">Undo</button>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-default">Redo</button>
					</div>
				</div>
				<div class="row htm-padding-top">
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title">{{currentFight.fighterA.name}}</h2>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="row">
							<div class="col-sm-4 col-md-4 text-center">{{currentFight.totalScore().a}}</div>
							<div class="col-sm-4 col-md-4 text-center">({{currentFight.totalScore().d}})</div>
							<div class="col-sm-4 col-md-4 text-center">{{currentFight.totalScore().b}}</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title pull-right">{{currentFight.fighterB.name}}</h2>
					</div>
				</div>
				<div class="htm-padding-top">
					<div data-ng-show="exchangeLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-list"></span>
						<strong>Limit reached!</strong> The <em>exchange limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
					<div data-ng-show="timeLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-time"></span>
						<strong>Limit reached!</strong> The <em>time limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
					<div data-ng-show="doubleHitLimitReached()" class="alert alert-warning">
						<span class="glyphicon glyphicon-transfer"></span>
						<strong>Limit reached!</strong> The <em>double hit limit</em> has been reached, <a href="#" class="alert-link" data-ng-click="confirmFight()">confirm this fight</a>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button id="clean-red-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('clean', 'red')">Clean hit...</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg" data-ng-click="doubleHitClicked()">Double hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button id="clean-blue-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('clean', 'blue')">Clean hit...</button>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button id="afterblow-red-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('afterblow', 'red')">Afterblow...</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg" data-ng-click="noHitClicked()">No hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button id="afterblow-blue-btn" type="button" class="btn btn-default btn-lg" data-ng-click="hitButtonClicked('afterblow', 'blue')">Afterblow...</button>
					</div>
				</div>
			</div>
      	</div>
      </div>
      <div class="col-md-4">
      <div class="panel panel-default">
      
			<div class="panel-heading"><h3 class="panel-title">Messages</h3></div>
			<div class="panel-body">
				lijstje
			</div>  
			<div class="panel-footer"><input type="text"/></div>  	
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-body">Public announcement</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading"><h3 class="panel-title">Support</h3></div>
				  <div class="panel-body">
				  <p class="btn-group">
							<button type="button" class="btn btn-default">Call Tech Support</button>
							<button type="button" class="btn btn-default">Call Organisation</button>
							</p>
				  	<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Request <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Replacement weapon</a></li>
    <li><a href="#">Medical assistance</a></li>
    <li><a href="#">Referee</a></li>
    <li><a href="#">Judge</a></li>
    <li><a href="#">Staff</a></li>
  </ul>
  </div>
				  </div>
      	</div>
      </div>
      </div>
    </div>
    
          <div>PoolSummary: {{poolSummary}}</div>
      <div>Pool: {{pool}}</div>
      <div>Round: {{round}}</div>
      <div>Fights: {{fights}}</div>
      <div>Current Fight: {{currentFight}}</div>
    
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.core.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.position.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))"></script>
    <script src="@routes.Application.jsRoutes"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/playRoutes.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/appService.js")"></script>
    
    <div id="score-options" class="btn-group">
        <button type="button" ng-repeat="score in possibleScores" ng-click="scoreSelected(score)" data-ng-class="{red: 'btn btn-danger btn-lg', blue: 'btn btn-primary btn-lg'}[scoreSide]">{{score}}</button>
        <button type="button" ng-click="cancelScoreSelect()" class="btn btn-default btn-lg" title="Cancel">
        	<span class="glyphicon glyphicon-remove-circle"></span>
        </button>
    </div>
  </body>
</html>
