@(appName: String, appVersion: String)
<!DOCTYPE html>
<html data-ng-app="htm">
  <head>
    <title>@appName</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cerulean.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate-custom.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
	<body>
    @*-- Header -- *@
    <header class="container">
      <div class="page-header" data-ng-cloak>
        <h1>{{title}} <small class="pull-right">{{subtitle}}</small></h1>
      </div>
    </header>
    @* -- Main Content -- *@
    <div class="container" data-ng-view></div>
    
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.core.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.position.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))"></script>
    <script src="@routes.Application.jsRoutes"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/playRoutes.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/appService.js")"></script>
  </body>
</html>
