@(appName: String, appVersion: String)
<!DOCTYPE html>
<html data-ng-app="htm">
  <head>
    <title>@appName</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cerulean.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate-custom.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
	<body>
    @*-- Header -- *@
    <header class="container">
      <div class="page-header">
        <h1>Arena 1 &mdash; Longsword Open <small class="pull-right">14:00 - 15:00</small></h1>
      </div>
    </header>
    @* -- Main Content -- *@
    <div class="container" data-ng-controller="BattleCtrl" data-ng-cloak>
      <div class="row">
      <div class="col-md-8">
      	<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Fights Round 1, Pool 2</h3></div>
			<table class="table table-condensed table-hover" data-ng-click="incCurrentFight()">
				<tbody>
					<tr data-ng-show="currentFight &gt; 3">
						<td colspan="8" class="text-center">{{fights | filter:beforeRangeFunction | size}} more</td>
					</tr>
					<tr data-ng-repeat="fight in fights | filter:inRangeFunction" data-ng-class="{true: 'htm-current-fight', false: ''}[fight.id==currentFight]" data-ng-mouseenter="fight.hover = true" data-ng-mouseleave="fight.hover = false">
						<td>{{fight.plannedTime}}</td>
						<td>{{fight.id}}</td>
						<td class="text-left">{{fight.a}}</td>
						<td class="text-center"></td>
						<td class="text-center">vs</td>
						<td class="text-center"></td>
						<td class="text-right">{{fight.b}}</td>
						<td width="10%">
							<div data-ng-show="fight.hover" data-ng-animate="{show: 'animated fadeIn', hide: 'animated fadeOut'}">
								<span data-ng-show="fight.index &gt;= currentFight" title="Move down" class="glyphicon glyphicon-arrow-down"></button>
								<span data-ng-show="fight.index &gt; currentFight" title="Move up" class="glyphicon glyphicon-arrow-up"></button>
							</div>
						</td>
					</tr>
					<tr data-ng-show="currentFight &lt; 18">
						<td colspan="8" class="text-center">{{fights | filter:afterRangeFunction | size}} more</td>
					</tr>
				</tbody>
			</table>  	
      	</div>
      	<div class="panel panel-default htm-current-fight">
			<div class="panel-heading">
				<h3 class="panel-title">Current fight</h3>
			</div>
			<div class="panel-body">
				<div class="row htm-fight-buttons">
					<div class="col-sm-4 col-md-4">
						<big>Time: {{timer.currentTime}} of 3:00 <span data-ng-click="toggleTimer()" data-ng-class="{true: 'glyphicon glyphicon-pause', false: 'glyphicon glyphicon-play'}[timer.running]"></span></big>
					</div>
					<div class="col-sm-4 col-md-4">
						<big>Exchange: 3 of 10</big>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-default">Undo</button>
					</div>
					<div class="col-sm-2 col-md-2">
						<button type="button" class="btn btn-default">Redo</button>
					</div>
				</div>
				<div class="row htm-padding-top">
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title">Maarten Kamphuis</h2>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="row">
							<div class="col-sm-4 col-md-4 text-center">2</div>
							<div class="col-sm-4 col-md-4 text-center">(3)</div>
							<div class="col-sm-4 col-md-4 text-center">5</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<h2 class="panel-title pull-right">Patrick Swayze</h2>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">Clean hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">Double hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">Clean hit</button>
					</div>
				</div>
				<div class="row htm-fight-buttons htm-padding-top">
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">Afterblow</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">No hit</button>
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<button type="button" class="btn btn-default btn-lg">Afterblow</button>
					</div>
				</div>
			</div>
			
      	</div>
      </div>
      <div class="col-md-4">
      <div class="panel panel-default">
      
			<div class="panel-heading"><h3 class="panel-title">Messages</h3></div>
			<div class="panel-body">
				lijstje
			</div>  
			<div class="panel-footer"><input type="text"/></div>  	
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-body">Public announcement</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading"><h3 class="panel-title">Support</h3></div>
				  <div class="panel-body">
				  <p class="btn-group">
							<button type="button" class="btn btn-default">Call Tech Support</button>
							<button type="button" class="btn btn-default">Call Organisation</button>
							</p>
				  	<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Request <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Replacement weapon</a></li>
    <li><a href="#">Medical assistance</a></li>
    <li><a href="#">Referee</a></li>
    <li><a href="#">Judge</a></li>
    <li><a href="#">Staff</a></li>
  </ul>
  </div>
				  </div>
      	</div>
      </div>
      </div>
    </div>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))"></script>
    <script src="@routes.Application.jsRoutes"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/playRoutes.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/appService.js")"></script>
  </body>
</html>
