RuntimeResources/Fight/Footer/fighter_bar_*.png
RuntimeResources/Avatars/*.jpg
RuntimeResources/Avatars/Generated
RuntimeResources/Avatars/placeholder_longsword_open.png
RuntimeResources/LiveStream/Fight/Generated
