<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Export</title>
</head>
<body class="lift:content_id=main">
  <div id="main" class="lift:surround?with=default;at=content" data-ng-app="htm">
    <head>
<title>Battlestation</title>
<link rel="stylesheet" media="screen" href="/static/battle/stylesheets/animate-custom.css">
<link rel="stylesheet" media="screen" href="/static/battle/stylesheets/main.css">
    </head>
    <header class="container">
      <div class="page-header" data-ng-cloak>
        <h1>
          {{title}} <small class="pull-right">{{subtitle}}</small>
        </h1>
      </div>
    </header>

    <div id="reloadNotifyBox" class="alert alert-warning alert-dismissable collapse">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>Warning!</h4>
      <p> The schedule has been changed. Reload this page to make sure your view is up-to-date.</p>
      <p><button id="reload-page-button" type="button" class="btn btn-warning">Reload</button>
      <script type="text/javascript">
      $("#reload-page-button").click(function (event) {
    	  location.reload(true);
      });
      </script>
      </p>
    </div>

    <div class="lift:comet?type=RefreshActor"></div>

    <div id="main" class="container" ng-view></div>
    <div id="chatbox" class="panel panel-default" ng-class="chat.state()">
      <div class="panel-heading" ng-click="chat.toggle()">
        <h3 class="panel-title">
          Chat <span class="badge" ng-show="chat.unread" ng-animate="{show: 'animated flash', hide: 'animated hinge'}">{{ chat.unread }}</span>
        </h3>
      </div>
      <div class="lift:comet?type=ChatActor">
        <div class="messages">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="message in chat.messages" ng-animate="{enter: 'animated fadeIn', leave: 'animated fadeOut'}">
              <h6 class="list-group-item-heading">{{ message.time | hours }}</h6> <span ng-bind="message.message">Sample message</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="input">
        <form data-lift="form.ajax?class=navbar-form">
          <div class="input-group">
            <input type="text" class="lift:ChatIn form-control" id="chat_in"> <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Send</button>
            </span>
          </div>
        </form>
      </div>
    </div>

<script src="/static/javascript/legacy/angular.min.js"></script>
<script src="/static/javascript/legacy/angular-resource.min.js"></script>
<script src="/static/javascript/legacy/angular-ui-bootstrap-tpls.min.js"></script>
    <script src="/static/battle/javascript/jsRoutes.js"></script>
    <script src="/static/battle/javascript/controllers.js"></script>
    <script src="/static/battle/javascript/app.js"></script>
    <script src="/static/battle/javascript/filters.js"></script>
    <script src="/static/battle/javascript/services/playRoutes.js"></script>
    <script src="/static/battle/javascript/services/appService.js"></script>
  </div>
</body>
</html>