<div class="modal-header">
	<h2 class="modal-title">
		<span>Select Fighter</span>
	    <span class="btn-group pull-right">
	      <button class="btn btn-primary" ng-click="save()">Save</button>
	      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    	</span>
	</h2>
</div>

<div class="modal-body">
	<form name="fightForm" class="form" novalidate>
	    <tabset justified="true" type="pills">

			<tab active="fromPoolTabActive">
				<tab-heading>From Pool</tab-heading>
				<table class="table table-striped table-condensed table-hover table-responsive">
					<thead>
						<tr>
							<th>Pool</th>
							<th colspan="8">Ranking</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pool in tournament.getPools()">
							<td>{{pool.name}}</td>
							<td ng-repeat="rank in [1,2,3,4,5,6,7,8]" ng-click="setPoolRank(pool,rank)" class="text-center" ng-class="{'info' : isPoolRank(pool,rank)}">{{rank}}</td>
						</tr>
					</tbody>
				</table>
	     	</tab>

			<tab active="fromParticipantTabActive">
				<tab-heading>From Participant List</tab-heading>
				<!-- TODO: Sort by rank-->
				<table class="table table-striped table-condensed table-hover table-responsive">
					<thead>
						<tr>
							<th>Number</th>
							<th>Country</th>
							<th>Name</th>
							<th>Club</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in getPotentialParticipants()" ng-init="subscription = participant.getSubscription(tournament.id)" ng-click="setParticipant(participant)" ng-class="{'info' : isParticipant(participant)}">
							<td>{{subscription.fighterNumber}}</td>
							<td><htm-flag country="participant.country"></htm-flag></td>
							<td>{{participant.name}}</td>
							<td>{{participant.club.name}}</td>
						</tr>
					</tbody>
				</table>
	     	</tab>

			<tab active="fromFightTabActive">
				<tab-heading>From Fight</tab-heading>
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="precursor in getPotentialPrecursors()">
							<td>{{precursor.name}}</td>
							<td class="text-center" ng-class="{'info' : isWinnerOf(precursor)}" ng-click="setWinner(precursor)">Winner</td>
							<td class="text-center"  ng-class="{'info' : isLoserOf(precursor)}" ng-click="setLoser(precursor)">Loser</td>
						</tr>
					</tbody>
				</table>
	      	</tab>
	      
      	</tabset>
    </form>
</div>
