<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#htm-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">HTM</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="htm-navbar-collapse">
      <ul class="nav navbar-nav">
      	<li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/event">Event</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/tournament">Tournaments</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/participant">Participants</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/schedule">Schedule</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/viewer">Viewers</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/image">Images</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/import">Import</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/export">Export</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/battle">Battle</a></li>
        <li><a data-toggle="collapse" data-target="#htm-navbar-collapse" href="#/controller">Controller</a></li>
      </ul>
    </div>
  </div>
</nav>