<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title clearfix">
			<button class="btn btn-default btn-sm pull-right" title="Edit Fight" ng-click="editFight()">
				<span class="glyphicon glyphicon-wrench"></span>
			</button>
			<span class=>{{fight.name}} </span>
			<!-- TODO: Check link -->
			<a href="#schedule" class="label label-warning"  title="Show schedule" ng-hide="fight.time">Unscheduled</a>
			<!-- TODO: Implement edit fight -->

		</h3>
	</div>
	  <ul class="list-group">
		<li class="list-group-item clearfix">
			<button class="btn btn-default btn-sm pull-right" title="Edit Fight" ng-hide="fight.isPool()" ng-click="editFighter(fight.fighterA)">
				<span class="glyphicon glyphicon-wrench"></span>
			</button>
			<htm-fighter-name tournament="tournament" fighter="fight.fighterA"></htm-fighter-name>
			
		</li>
		<li class="list-group-item clearfix">
			<button class="btn btn-default btn-sm pull-right"  title="Edit Fight" ng-hide="fight.isPool()" ng-click="editFighter(fight.fighterB)">
				<span class="glyphicon glyphicon-wrench"></span>
			</button>
			<htm-fighter-name tournament="tournament" fighter="fight.fighterB"></htm-fighter-name>
		</li>											
	</ul>
</div>