<!--tournament.html-->
<div ng-controller="TournamentCtrl">
	<div class="container container-fluid">
		<div class="row">
			<div class="page-header">
				<h2><span>{{tournament.name}}</span>
				  	<div class="btn-group pull-right">
						<button  role="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">
							<span class="glyphicon glyphicon-download"></span> 
							<span>Download</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
							<!--TODO: Implement links-->
							<li><a href="/download/pools">Pools</a></li>
							<li><a href="/download/schedule">Schedule</a></li>
						</ul>
					</div>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-condensed table-hover table-responsive">
					<thead>
						<tr>
							<th>Checks</th>
							<th>Number</th>
							<th>Country</th>
							<th>Name</th>
							<th>Club</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fighter in fighters">
							<td>
								<span>
								    <span class="label" ng-class="fighter.isPresent ? 'label-success' : 'label-danger'" title="{{fighter.isPresent ? 'Checked in' : 'Not checked in yet'}}">
								    	<span class="glyphicon glyphicon-check"></span>
								    </span>
								    <span class="label" ng-class="fighter.droppedOut ? 'label-danger' : 'label-success'" title="{{fighter.droppedOut ? 'Dropped out' : 'In tournament'}}">
								    	<span class="glyphicon glyphicon-heart"></span>
								    </span>
									<span class="label" ng-class="fighter.gearChecked ? 'label-success' : 'label-danger'" title="{{fighter.gearChecked ? 'Gear checked' : 'Gear not checked'}}"><span class="glyphicon glyphicon-cog"></span>
									</span>								    
						    	</span>
							</td>
							<td>{{fighter.fighterNumber}}</td>
							<td><htm-flag country="fighter.country"></htm-flag></td>
							<td>{{fighter.name}}</td>
							<td>{{fighter.club.name}}</td>
						</tr>
					</tbody>
				</table>
				
				<span class="input-group">
					<span class="input-group-addon">
							<span class="glyphicon glyphicon-search" title="Search participant"></span>

					</span>
					<ui-select ng-model="participant" ng-disabled="disabled">
						<ui-select-match placeholder="Select or search a participant in the list...">
							<span><htm-flag country="participant.country"></htm-flag> {{$select.selected.name + " " + $select.selected.club.name}}</span>

							</ui-select-match>
						<ui-select-choices repeat="participant in participants | filter: $select.search" refresh="searchParticipants($select.search)"refresh-delay="500">
							<htm-flag country="participant.country"></htm-flag>
							<span ng-bind-html="participant.name | highlight: $select.search"></span> - <span ng-bind-html="participant.club.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
						<button role="button" class="btn btn-default" ng-click="addParticipant()">
							<span class="glyphicon glyphicon-plus" title="Add participant to tournament"></span>
						</button>
					</span>
				</span>
			</div>
		</div>
		<div class="row" ng-repeat="phase in phases">
			<div class="col-md-12">
				<div ng-show="phase.type === 'F'">
					<div class="page-header">
						<h3>{{phase.name}}</h3>
					</div>
					<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(phase.fights)">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{fight.name}}</h3>
							</div>
							  <ul class="list-group">
								<li class="list-group-item">
									<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterA"></htm-fighter-name>
								</li>
								<li class="list-group-item">
									<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterB"></htm-fighter-name>
								</li>											
							</ul>
						</div>
					</div>
				</div>
				<div ng-show="phase.type === 'P'">
					<div class="page-header">
						<h3>{{phase.name}}</h3>
					</div>
					<div class="panel panel-default" ng-repeat="pool in phase.pools">
						<div class="panel-heading">
							<h3 class="panel-title">{{pool.name}}</h3>
						</div>
						<div class="panel-body" >
							<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(pool.fights)">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">{{fight.name}}</h3>
									</div>
									<ul class="list-group">
										<li class="list-group-item">
											<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterA"></htm-fighter-name>
										</li>
										<li class="list-group-item">
											<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterB"></htm-fighter-name>
										</li>											
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="phase.type === 'E'">
					<div class="page-header">
						<h3>{{phase.name}}</h3>
					</div>
					<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(phase.fights)">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{fight.name}}</h3>
							</div>
								<ul class="list-group">
									<li class="list-group-item">
										<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterA"></htm-fighter-name>
									</li>
									<li class="list-group-item">
										<htm-fighter-name phases="phases" fights="fights" fighters="fighters" fighter="fight.fighterB"></htm-fighter-name>
									</li>											
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

