<div class="modal-header">
  <h2 class="modal-title">
   <span>Generate</span>
    <span class="btn-group pull-right">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </span>
  </h2>
</div>
<div class="modal-body">
    <div class="list-group">
        <a href="" class="list-group-item" ng-click="generate(4)"><sup>1</sup>&frasl;<sub>16</sub> Finals</a>
        <a href="" class="list-group-item" ng-click="generate(3)"><sup>1</sup>&frasl;<sub>8</sub> Finals</a>
        <a href="" class="list-group-item" ng-click="generate(2)"><sup>1</sup>&frasl;<sub>4</sub> Finals</a>
        <a href="" class="list-group-item" ng-click="generate(1)">Semi-Finals</a>
    </div>
</div>