<div class="modal-header">
  <h2 class="modal-title">
   <span>Generate</span>
    <span class="btn-group pull-right">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </span>
  </h2>
</div>
<div class="modal-body">
    <form class="form">
      <div class="form-group">
        <div class="input-group">
        <input class="form-control"  type="number" ng-model="participantsPerPool" name="participants" min="1" required="true">
          <span class="input-group-btn">
              <button class="btn btn-default" ng-click="generate()">Generate</button>
          </span>        
      </div>
    </form>
</div>