<!--tournament.html-->
<div ng-controller="TournamentCtrl">
	<div class="container container-fluid" ng-repeat="phase in phases">
		<div ng-show="phase.type === 'F'">
			<h1>{{phase.name}}</h1>
			<div class="panel panel-default">
				<div class="panel-body"  >
					<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(phase.fights)">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{fight.name}}</h3>
							</div>
							  <ul class="list-group">
								<li class="list-group-item">
									<span ng-show="fight.fighterA.winnerOf">Winner of </span>
									<span ng-show="fight.fighterA.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterA).name}}</span>
								<li class="list-group-item">
									<span ng-show="fight.fighterB.winnerOf">Winner of </span>
									<span ng-show="fight.fighterB.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterB).name}}</span>
								</li>											
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="phase.type === 'P'">
			<h1>{{phase.name}}</h1>
			<div class="panel panel-default" ng-repeat="pool in phase.pools">
				<div class="panel-heading">
					<h3 class="panel-title">{{pool.name}}</h3>
				</div>
				<div class="panel-body" >
					<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(pool.fights)">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{fight.name}}</h3>
							</div>
							  <ul class="list-group">
								<li class="list-group-item">
									<span ng-show="fight.fighterA.winnerOf">Winner of </span>
									<span ng-show="fight.fighterA.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterA).name}}</span>
								<li class="list-group-item">
									<span ng-show="fight.fighterB.winnerOf">Winner of </span>
									<span ng-show="fight.fighterB.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterB).name}}</span>
								</li>											
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="phase.type === 'E'">
			<h1>{{phase.name}}</h1>
			<div class="panel panel-default">
				<div class="panel-body"  >
					<div class="col-xs-6 col-md-4" ng-repeat="fight in getFights(phase.fights)">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{fight.name}}</h3>
							</div>
							  <ul class="list-group">
								<li class="list-group-item">
									<span ng-show="fight.fighterA.winnerOf">Winner of </span>
									<span ng-show="fight.fighterA.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterA).name}}</span>
								<li class="list-group-item">
									<span ng-show="fight.fighterB.winnerOf">Winner of </span>
									<span ng-show="fight.fighterB.loserOf">Loser of </span>
									<span>{{getFighter(fight.fighterB).name}}</span>
								</li>											
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>

