<div class="modal-header">
  <h2 class="modal-title">
   <span>Generate</span>
    <span class="btn-group pull-right">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </span>
  </h2>
</div>
<div class="modal-body">
    <form class="form-inline" name="poolForm">
      <div class="form-group">
          <div class="input-group ">
            <input class="form-control"  type="number" ng-model="pools" name="participants" min="1" max="{{maxPools}}" required="true">
              <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!poolForm.$valid" ng-click="generate()">Generate</button>
              </span>        
          </div>
        </div>
    </form>
</div>