<div class="participant-bio" ng-class="side">
	<div class="tournament">{{ tournament }}</div>
	<div class="round">{{ round }}</div>
	<div class="name">{{ participant.name }}</div>
	<div class="club">{{ participant.club }}</div>
	<div class="detail age" ng-show="participant.age">
		<div class="lbl">Age</div>
		<div class="value">{{ participant.age }}</div>
	</div>
	<div class="detail height" ng-show="participant.height">
		<div class="lbl">Height</div>
		<div class="value">{{ participant.height }}&nbsp;cm</div>
	</div>
	<div class="detail weight" ng-show="participant.weight">
		<div class="lbl">Weight</div>
		<div class="value">{{ participant.weight }}&nbsp;kg</div>
	</div>
</div>