<nav class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
		<a href="/viewers/list" class="navbar-brand">Back to admin</a>
	</div>
	<form class="form-inline">
		<div class="navbar-text navbar-right" ng-repeat="viewer in viewers">
			<label class="checkbox">
				<input type="checkbox" ng-model="viewer.selected">
				{{ viewer.alias }}
				({{ viewer.lastUpdate }})
			</label>
		</div>
	</form>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">View switch</h3>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary" ng-click="update('Empty', 'empty', {message: ''})" ng-disabled="!hasViewers()">Empty</button>
					<button class="btn btn-primary" ng-click="update('Current Fight', 'fight', {message: ''})" ng-disabled="!hasViewers()">Fight</button>
					<div class="btn-group" ng-show="arenas">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="!hasViewers()">
	  						Arena overview <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
    						<li ng-repeat="arena in arenas"><a href="" ng-click="update('Overview ' + arena.name, 'overview/arena', {message: '', arena: arena.name, arenaId: arena.id})">{{arena.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tournament overview</h3>
				</div>
				<div class="panel-body">
					<button type="button" class="btn btn-primary" ng-disabled="!hasViewers()">With names</button>
					<button type="button" class="btn btn-primary" ng-disabled="!hasViewers()">No names</button>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Image</h3>
				</div>
				<div class="panel-body">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="!hasViewers()">
	  						Choose <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
    						<li ng-repeat="image in images | orderBy:'name'"><a href="" ng-click="update('Image ' + image.name, 'image', {message: '', image: image.filename})"><img ng-repeat="resolution in image.resolutions" ng-src="/image/{{resolution}}/{{image.name}}" title="{{resolution}}"/> {{ image.name }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
	   			<div class="panel-heading">
					<h3 class="panel-title">Announcement</h3>
				</div>
	   			<div class="panel-body">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="announcement" placeholder="Announcement" ng-model="announcementBuffer"/>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="announce()" ng-disabled="!hasViewers()">Show</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label>Last update</label>
						<div class="well well-sm" ng-bind-html-unsafe="announcement || '-- nothing --'"></div>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
	   			<div class="panel-heading">
					<h3 class="panel-title">Footer</h3>
				</div>
	   			<div class="panel-body">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="announcement" placeholder="Announcement" ng-model="announcementBuffer"/>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="announce()" ng-disabled="!hasViewers()">Show</button>
							</span>
						</div>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>
	
</div>